:root {
    --text-color: rgb(255, 255, 230);
    --background-color-0: rgb(44, 44, 44);
    --background-color-1: rgb(53, 78, 87);
    --background-color-2: rgb(0, 75, 94);
    --table-border-color: rgb(153, 153, 153);
}

html, body {
    margin: 5px;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color-0);
}

h1, h2, h3, h4, h5, h6, p, span, td, th {
    color:var(--text-color);
}

table {
    border: 1px solid var(--table-border-color);
    border-collapse: collapse;
}

td, th {
    border: 1px solid var(--table-border-color);
    padding: 10px;
}

thead {
    background-color: var(--background-color-2);
}

tfoot {
    background-color: var(--background-color-1);
    font-style: italic;
}

#diversification {
    display: flex;
    margin: 10px;
}

#diversification #diversification_overview {
    color: var(--text-color);
    list-style: none;
}