#controls {
    display: flex;
    flex-direction: column;

    position: absolute;
    right: 0;
    top: 25%;
    
    border-left: 1px dashed white;
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
}

#controls button {
    margin: 10px;
    padding: 5px;

    box-shadow: 5px 5px var(--shadow-color);
}

#controls button:hover {
    cursor: pointer;
}

table {
    border: 1px solid var(--table-border-color);
    border-collapse: collapse;
}

td, th {
    border: 1px solid var(--table-border-color);
    padding: 10px;
}

thead {
    background-color: var(--background-color-2);
}

tfoot {
    background-color: var(--background-color-1);
    font-style: italic;
}